<div class="quiz-container">
  <header class="page-header">
    <div>
      <h2><i class="fas fa-question-circle"></i> Quiz-uri create</h2>
      <p class="subtitle"> Gestionează quiz-urile tale</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="goToCreateQuiz()">
      <span class="icon">+</span> Creează Quiz
    </button>
  </header>

  

  <div class="quiz-card" *ngFor="let q of quizzes()">
    <div class="quiz-header">
        <span class="course-badge">{{ q.courseTitle }}</span>
      </div>
    <h3>{{ q.title }}</h3>
    <p>{{ q.description }}</p>
    <p *ngIf="q.scheduledAt">
      Programat pentru: {{ q.scheduledAt | date:'dd.MM.yyyy HH:mm':'UTC' }}
    </p>
    <p *ngIf="q.closedAt">
      Limită: {{ q.closedAt | date:'dd.MM.yyyy HH:mm':'UTC' }}
    </p>
    <p *ngIf="calculateDuration(q)" class="duration">
      {{ calculateDuration(q) }}
    </p>

    <div class="actions">
      <button class="edit-btn" (click)="editQuiz(q)">Editează</button>
      <span class="status" [class.published]="q.isPublished">
        {{ q.isPublished ? 'Publicat' : 'Nepublicat' }}
      </span>
      <button class="manage-btn" (click)="goToQuizManager(q.id)">
        + Adaugă / Administrează întrebări
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showModal() && editingQuiz() as eq">
  <div class="modal-content">
    <h3>{{ eq.id ? 'Editează Quiz' : 'Creează Quiz' }}</h3>

    <div class="form-group">
      <label>Titlu:</label>
      <input type="text" [(ngModel)]="eq.title">
    </div>

    <div class="form-group">
      <label>Data și ora susținerii:</label>
      <input 
        type="datetime-local" 
        [(ngModel)]="eq.scheduledAt">
    </div>

    <div class="form-group">
      <label>Data și ora limită:</label>
      <input 
        type="datetime-local" 
        [(ngModel)]="eq.closedAt">
    </div>

    <div class="form-group">
      <label>Descriere:</label>
      <textarea [(ngModel)]="eq.description"></textarea>
    </div>

    <div class="form-group info-note">
      Publicarea se face din pagina de administrare a quiz-ului, după ce adaugi întrebările și opțiunile necesare.
    </div>

    <div class="modal-actions">
      <button (click)="saveQuiz()">{{ eq.id ? 'Salvează' : 'Creează' }}</button>
      <button (click)="closeModal()">Anulează</button>
    </div>
  </div>
</div>
