.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;           /* ia tot height-ul de la app-navbar */
  background: #f2e8f5;
  padding: 1.5rem;
  border-right: 3px solid #e6d5ea;
}



.logo-box {
  margin-bottom: 2rem;
  text-align: left;

  .logo-text {
    font-size: 1.8rem;
    font-weight: 700;
    color: #6b4a7c;
  }
}

/* USER BOX */
.user-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background: #efe4f3;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  .name {
    font-size: 1rem;
    font-weight: 600;
    color: #5a3968;
  }

  .role {
    font-size: 0.75rem;
    color: #9479a5;
  }
}

/* MENU */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.9rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 14px;
  font-size: 0.95rem;
  cursor: pointer;
  color: #624a6e;
  transition: 0.25s ease;

  &:hover {
    background: #e9d5ef;
    color: #4d2f5b;
  }
}

/* ICON STYLING */
.icon {
  font-size: 1.2rem;
  color: #6b4a7c;
}

/* ACTIVE STATE */
.active {
  background: #dcc2e6 !important;
  color: #3f2450 !important;
  font-weight: 600;
}

/* LOGOUT */
.logout-box {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  color: #6b4a7c;
  transition: 0.25s;

  &:hover {
    background: #e6d5ea;
    color: #4d2f5b;
  }
}
