<nav class="sidebar">

  <div class="logo-box">
    <img
      src="/assets/logo.png"
      alt="Learn&Wire Logo"
      class="navbar-logo">

    <span class="logo-text">Learn&Wire</span>
  </div>

  <div class="user-box">
    <img
      [src]="getAvatarUrl()"
      class="avatar"
      alt=""
      onerror="this.src='/assets/avatar-default.png'">

    <div class="user-info">
      <p class="name">{{ user?.firstName }} {{ user?.lastName }}</p>
      <p class="role">{{ user?.role }}</p>
    </div>
  </div>

  <ul class="menu">

    <li *ngIf="role === 'Student'" (click)="navigateToDashboard()">
      <i class="fas fa-th-large"></i>
      Acasă
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToDashboard()">
      <i class="fas fa-th-large"></i>
      Acasă
    </li>

    <li *ngIf="role === 'Profesor' || role === 'Student'" (click)="navigateToMyClasses()">
      <i class="fas fa-home"></i>
      Materiile mele
    </li>

    <li *ngIf="role === 'Profesor' || role === 'Student'" (click)="navigateToHomeworks()">
      <i class="fas fa-book"></i>
      Teme
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToStudents()">
      <i class="fas fa-envelope"></i>
      Studenți
    </li>

    <li *ngIf="role === 'Student'" (click)="navigateToInvitations()">
      <i class="fas fa-envelope"></i>
      Notificări
    </li>

    <li *ngIf="role === 'Student'" (click)="navigateToStudentsGrades()">
      <i class="fas fa-list-ul"></i>
      Notele mele
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToQuizzes()">
      <i class="fas fa-question-circle"></i>
      Quiz-uri
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToQuizzesResults()">
      <i class="fas fa-question-circle"></i>
      Rezultate Quiz-uri
    </li>

    <li *ngIf="role === 'Student'" (click)="navigateToQuizzes()">
      <i class="fas fa-question-circle"></i>
      Quiz-uri disponibile
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToTeacherCalendar()">
      <i class="fas fa-calendar-check"></i>
      Calendar
    </li>

    <li *ngIf="role === 'Student'" (click)="navigateToProfile()">
      <i class="fas fa-cog"></i>
      Setări
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToProfile()">
      <i class="fas fa-cog"></i>
      Setări
    </li>

  </ul>

  <div class="logout-box" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    Delogare
  </div>

</nav>