<nav class="sidebar">

  <!-- Logo -->
  <div class="logo-box">
    <span class="logo-text">Learn&Wire</span>
  </div>

  <!-- User -->
  <div class="user-box">
    <img 
      [src]="user?.avatar 
            ? 'http://localhost:3000/' + user!.avatar  
            : 'assets/avatar-default.png'" 
      class="avatar">

    <div class="user-info">
      <p class="name">{{ user?.firstName }} {{ user?.lastName }}</p>
      <p class="role">{{ user?.role }}</p>
    </div>
  </div>

  <!-- MENU -->
  <ul class="menu">

    <li routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-th-large"></i>
      Acasa
    </li>

    <!-- PROFESOR -->
    <li *ngIf="role === 'Profesor' || role === 'Student'" (click)="navigateToMyClasses()">
      <i class="fas fa-home"></i>
      Clasa mea
    </li>

    <li *ngIf="role === 'Profesor'" (click)="navigateToCourseForm()">
      <i class="fas fa-plus"></i>
      Adaugă curs
    </li>

    <!-- PROFESOR: invitații -->
    <li *ngIf="role === 'Profesor'" (click)="navigateToInvitations()">
      <i class="fas fa-envelope"></i>
      Invită studenți
    </li>

    <!-- STUDENT: invitații la cursuri -->
    <li *ngIf="role === 'Student'" (click)="navigateToInvitations()">
      <i class="fas fa-envelope"></i>
      Invitații cursuri
    </li>


    <!-- STUDENT -->
    <li *ngIf="role === 'Student'" routerLink="/my-grades" routerLinkActive="active">
      <i class="fas fa-list-ul"></i>
      Notele mele
    </li>

    <li routerLink="/schedule" routerLinkActive="active">
      <i class="fas fa-calendar-alt"></i>
      Calendar
    </li>

    <li *ngIf="role === 'Student'" (click)="navigateToProfile()" routerLinkActive="active"> 
        <i class="fas fa-cog"></i>
        Setari
    </li>

  </ul>

  <!-- LOGOUT -->
  <div class="logout-box" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    Log out
  </div>

</nav>
